<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <service
            android:name=".service.VoipService"
            android:exported="false"
            android:foregroundServiceType="microphone|phoneCall" />

        <receiver
            android:name=".service.CallActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.setu.voip.ACTION_HANG_UP" />
                <action android:name="com.setu.voip.ACTION_MUTE" />
                <action android:name="com.setu.voip.ACTION_SPEAKER" />
                <action android:name="com.setu.voip.ACTION_ANSWER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>